*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:linear-gradient(135deg,#ffd6e8,#ffeaf5,#dff9ff);

overflow-x:hidden;

color:#444;

text-align:center;

}

header{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:30px;

}

h1{

font-size:60px;

font-family:Pacifico,cursive;

color:#ff4f9a;

animation:float 2s infinite alternate;

}

h2{

margin-top:20px;

color:#ff4f9a;

}

.subtitle{

font-size:22px;

margin:30px;

max-width:700px;

}

button{

padding:16px 40px;

border:none;

border-radius:40px;

background:#ff4f9a;

color:white;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.1);

}

.message{

max-width:900px;

margin:auto;

padding:80px 30px;

line-height:2;

font-size:20px;

}

.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:25px;

padding:50px;

}

.gallery img{

width:100%;

height:350px;

object-fit:cover;

border-radius:25px;

box-shadow:0 12px 30px rgba(0,0,0,.2);

transition:.4s;

}

.gallery img:hover{

transform:scale(1.05);

}

.quote{

padding:80px 30px;

font-size:22px;

}

footer{

padding:40px;

background:white;

font-weight:bold;

}

.heart{

position:fixed;

top:-30px;

font-size:25px;

animation:fall linear forwards;

pointer-events:none;

}

@keyframes fall{

to{

transform:translateY(110vh);

}

}

@keyframes float{

from{

transform:translateY(-5px);

}

to{

transform:translateY(8px);

}

}
